<%#
  Parceiros.
%>

<div class="landing-partners">
  <h2 class="landing-navigation-title">Parceiros</h2>
  <%= render "landing/visual_class" %>
  <div class="partners">
    <%= link_to "Estúdio Abble de Aprendizagem",
      "http://www.abble.com.br/",
      class: "partner sprite-partner-abble text-replacement",
      title: "Estúdio Abble de Aprendizagem",
      alt: "Estúdio Abble de Aprendizagem",
      target: "_blank"
    %>
    <%= link_to "Universidade Federal de Pernambuco",
      "http://www.ufpe.br/",
      class: "partner sprite-partner-ufpe text-replacement",
      title: "Universidade Federal de Pernambuco",
      alt: "Universidade Federal de Pernambuco",
      target: "_blank"
    %>
    <%= link_to "Centro de Informática",
      "http://www.cin.ufpe.br/",
      class: "partner sprite-partner-cin text-replacement",
      title: "Centro de Informática",
      alt: "Centro de Informática",
      target: "_blank"
    %>
    <%= link_to "Ciências Cognitivas e Tecnologia Educacional",
      "http://www.cin.ufpe.br/~ccte/",
      class: "partner sprite-partner-ccte text-replacement",
      title: "Ciências Cognitivas e Tecnologia Educacional",
      alt: "Ciências Cognitivas e Tecnologia Educacional",
      target: "_blank"
    %>
    <%= link_to "Secretaria de Educação de Pernambuco",
      "http://www.educacao.pe.gov.br/portal/",
      class: "partner sprite-partner-secretaria text-replacement",
      title: "Secretaria de Educação de Pernambuco",
      alt: "Secretaria de Educação de Pernambuco",
      target: "_blank"
    %>
  </div>
</div>