<%#
  Parceiros.
%>

<div class="landing-partners">
  <h2 class="landing-navigation-title">Parceiros</h2>
  <%= render "landing/visual_class" %>
  <div class="partners">
    <%= link_to "Estúdio Abble de Aprendizagem",
      "http://www.abble.com.br/",
      class: "partner sprite-partner-abble text-replacement",
      title: "Estúdio Abble de Aprendizagem",
      alt: "Estúdio Abble de Aprendizagem",
      target: "_blank"
    %>
    <%= link_to "Universidade Federal de Pernambuco",
      "http://www.ufpe.br/",
      class: "partner sprite-partner-ufpe text-replacement",
      title: "Universidade Federal de Pernambuco",
      alt: "Universidade Federal de Pernambuco",
      target: "_blank"
    %>
    <%= link_to "Centro de Informática",
      "http://www.cin.ufpe.br/",
      class: "partner sprite-partner-cin text-replacement",
      title: "Centro de Informática",
      alt: "Centro de Informática",
      target: "_blank"
    %>
    <%= link_to "Escola Técnica Regional",
      "http://etrpe.com.br/",
      class: "partner sprite-partner-etr text-replacement",
      title: "Escola Técnica Regional",
      alt: "Escola Técnica Regional",
      target: "_blank"
    %>
    <%= link_to "Universidade Federal do Vale do São Francisco",
      "http://www.univasf.edu.br/",
      class: "partner sprite-partner-univasf text-replacement",
      title: "Universidade Federal do Vale do São Francisco",
      alt: "Universidade Federal do Vale do São Francisco",
      target: "_blank"
    %>
    <%= link_to "Faculdade Franssinetti do Recife",
      "http://www.fafire.br/",
      class: "partner sprite-partner-fafire text-replacement",
      title: "Faculdade Franssinetti do Recife",
      alt: "Faculdade Franssinetti do Recife",
      target: "_blank"
    %>
  </div>
</div>